<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <% include ../partials/header.ejs %>
    <title>A Inteligência Criativa</title>



    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '299838161109883');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
            src="https://www.facebook.com/tr?id=299838161109883&ev=PageView&noscript=1" /></noscript>

</head>

<body>


    <div class="cab">
        <div class="teste"></div>
        <div class="logo">
        </div>
    </div>








    <section class="sec contact" id="contact">

        <div class="rr">


            <div class="content">
                <div class="mxw800p">
                    <h3>Receba nosso Infográfico totalmente gratuito</h3>
                    <p>Basta preencher o formulário abaixo!</p>
                </div>
                <div class="contactForm">
                    <form id="test">

                        <div class="row100">
                            <div class="inputBx50">
                                <input class="inputNome" id="inputNome" maxlength="60" type="text" name=""
                                onkeydown="mascara1( this )" onkeyup="mascara1( this )"
                                    placeholder="Nome:">


                                <h5> <label class="inputNomeErro" id="inputNomeErro" color></label></h5>
                            </div>

                        </div>
                        <div class="row100">

                            <div class="inputBx50">
                                <input class="inputEmail" id="inputEmail" maxlength="50" type="text" name=""
                                    placeholder="E-mail:">
                                <h5> <label class="inputEmailErro" id="inputEmailErro" color></label></h5>
                            </div>
                        </div>
                        <div class="row100">
                            <div class="inputBx50">
                                <input class="inputTelefone" id="inputTelefone" maxlength="15" type="tel"
                                    onkeydown="mascara( this )" onkeyup="mascara( this )"
                                    placeholder="Celular:">
                                <h5> <label class="inputTelefoneErro" id="inputTelefoneErro" color></label></h5>
                                </br>
                            </div>
                        </div>



                        <div class="row100">
                            <div class="inputBx50">
                                <select class="inputEstado" id="inputEstado" color=>
                                    <option id="ss" value="Selecione seu estado">Selecione seu estado: </option>
                                    <option value="Acre">Acre</option>
                                    <option value="Alagoas">Alagoas</option>
                                    <option value="Amapá">Amapá</option>
                                    <option value="Amazonas">Amazonas</option>
                                    <option value="Bahia">Bahia</option>
                                    <option value="Ceará">Ceará</option>
                                    <option value="Distrito Federal">Distrito Federal</option>
                                    <option value="Espírito Santo">Espírito Santo</option>
                                    <option value="Goiás">Goiás</option>
                                    <option value="Maranhão">Maranhão</option>
                                    <option value="Mato Grosso">Mato Grosso</option>
                                    <option value="Mato Grosso do Sul">Mato Grosso do Sul</option>
                                    <option value="Minas Gerais">Minas Gerais</option>
                                    <option value="Pará">Pará</option>
                                    <option value="Paraíba">Paraíba</option>
                                    <option value="Paraná">Paraná</option>
                                    <option value="Pernambuco">Pernambuco</option>
                                    <option value="Piauí">Piauí</option>
                                    <option value="Rio de Janeir">Rio de Janeiro</option>
                                    <option value="Rio Grande do Norte">Rio Grande do Norte</option>
                                    <option value="Rio Grande do Su">Rio Grande do Sul</option>
                                    <option value="Rondônia">Rondônia</option>
                                    <option value="Roraima">Roraima</option>
                                    <option value="Santa Catarin">Santa Catarina</option>
                                    <option value="São Paulo">São Paulo</option>
                                    <option value="Sergipe">Sergipe</option>
                                    <option value="Tocantins">Tocantins</option>
                                </select>
                                <h5> <label class="inputEstadoErro" id="inputEstadoErro" color></label></h5>
                            </div>
                        </div>

                        <div class="row100">
                            <div class="inputBx50">
                                <input class="inputCidade" maxlength="40" id="inputCidade" type="text" name=""
                                onkeydown="mascara1( this )" onkeyup="mascara1( this )"
                                    placeholder="Cidade:">
                                <h5> <label class="inputCidadeErro" id="inputCidadeErro" color></label></h5>
                                </br>
                                </br>
                            </div>

                        </div>



                        <h4>Para onde ele será enviado ?</h4>
                        <div class="checkbox">
                            <div class="esp">

                                <input class="whatsappBox" id="whatsappBox" type="checkbox" checked=true name="whatsapp"
                                    value="Bike">


                                <label for="whatsapp"> Whatsapp </label>


                                <input type="checkbox" id="emailBox" class="emailBox" name="vehicle1" value="Bike">
                                <label for="vehicle1">E-mail </label><br>
                            </div>
                        </div>

                        <div class="row100">

                            <div class="inputBx100">
                                <input id="enviarForm" class="button" type="button" onclick="true" value="Enviar">
                            </div>
                        </div>

                    </form>

                </div>
                <div class="sci">
                    <ul>

                        <li>
                            <a href="https://www.instagram.com/ainteligenciacriativa/">
                                <img src="/instagram.png">
                        </li>

                    </ul>
                </div>
                <p class="copyright">A Inteligência <a href="#"> Criativa </a></p>
            </div>
        </div>
    </section>




    <script>


        function mascara(campo) {
            campo.value = campo.value.replace(/[^\d]/g, '')
                .replace(/^(\d\d)(\d)/, '($1) $2')
                .replace(/(\d{4})(\d)/, '$1-$2');
            if (campo.value.length > 15) campo.value = stop;
            else stop = campo.value;
        }
        function mascara1(campo) {
            campo.value = campo.value.replace(/[^a-zA-Z ç]/g,'')
             
                
            if (campo.value.length > 25) campo.value = stop;
            else stop = campo.value;
        }


        window.addEventListener('load', start);



        var inputNome = null;
        var inputEmail = null;
        var inputBotao = null;


        var nome = null;



        const dados = {

            "nome": "",
            "email": "",
            "telefone": "",
            "estado": "",
            "cidade": "",
            "whatsappBox": "SIM",
            "emailbox": "NÂO"
        }


        const dadosValidacao = {

            "nome": "",
            "email": "",
            "telefone": "",
            "estado": "",
            "cidade": "",
        }



        function start() {
            inputNome = document.querySelector('#inputNome');


            inputEmail = document.querySelector('#inputEmail');
            inputTelefone = document.querySelector('#inputTelefone');
            inputEstado = document.getElementById('inputEstado');
            inputCidade = document.querySelector('#inputCidade');
            whatsappBox = document.querySelector('#whatsappBox');
            emailBox = document.querySelector('#emailBox');




            inputBotao = document.querySelector('#enviarForm');

            formCarrega();
            activeInputNome();


            onclick();

        }


        function formCarrega() {

            function formSubmit(event) {
                event.preventDefault();
                onclick();

            }


            var form = document.querySelector('form');
            form.addEventListener('submit', formSubmit);
        }


        function activeInputNome() {

            function campoDgt(event) {

                

            // 
            console.log(event);


                if (event.target.className === 'inputNome') {
                   
                    if (event.type == 'click') {
                        document.getElementById('inputNomeErro').innerHTML = "";
                        inputNome.style.borderBottom = "1px solid rgb(126, 26, 197)";

                    }

                    if (event.key == 'Enter' ) {


                        if (event.target.value == "" || event.target.value.length < 3) {

                            document.getElementById('inputNomeErro').innerHTML = "Este campo é obrigatório"
                            inputNome.style.borderBottom = "0.5px solid rgb(243, 60, 14)";
                            //  alert("Preencha campo NOME corretamente!");
                            // inputNome.focus();
                            return false;


                        } else {
                            document.getElementById('inputNomeErro').innerHTML = "";
                            inputNome.style.borderBottom = "1px solid rgb(126, 26, 197)";
                            dadosValidacao.nome = 'OK';
                            inputEmail.focus();

                        }

                    }



                }


                if (event.target.className === 'inputEmail') {

                    if (event.type == 'click') {
                        document.getElementById('inputEmailErro').innerHTML = "";
                        inputEmail.style.borderBottom = "1px solid rgb(126, 26, 197)";

                    }

                    //   validacaoNome();

                    if (event.key == 'Enter') {

                        if (event.target.value == "" || event.target.value.indexOf('@') == -1
                            || event.target.value.indexOf('.') == -1) {

                            document.getElementById('inputEmailErro').innerHTML = "Este campo é obrigatório"
                            inputEmail.style.borderBottom = "0.5px solid rgb(243, 60, 14)";
                            //     alert("Preencha campo E-MAIL corretamente! ");
                            // inputEmail.focus();
                            return false;

                        } else {

                            document.getElementById('inputEmailErro').innerHTML = "";
                            inputEmail.style.borderBottom = "1px solid rgb(126, 26, 197)";
                            dadosValidacao.email = 'OK';
                            inputTelefone.focus();


                        }

                    }

                }


                if (event.target.className === 'inputTelefone') {

                    if (event.type == 'click') {
                        document.getElementById('inputTelefoneErro').innerHTML = "";
                        inputTelefone.style.borderBottom = "1px solid rgb(126, 26, 197)";
                    }

                    if (event.target.value.length >= 14) {
                        dadosValidacao.telefone = 'OK';
                    }

                    //   validaEmail();


                    if (event.key == 'Enter') {

                        if (event.target.value == "" || event.target.value.length < 15) {

                            document.getElementById('inputTelefoneErro').innerHTML = "Este campo é obrigatório"
                            inputTelefone.style.borderBottom = "0.5px solid rgb(243, 60, 14)";
                            // alert("Preencha campo Telefone corretamente!");
                            // inputTelefone.focus();
                            return false;
                        } else {

                            document.getElementById('inputTelefoneErro').innerHTML = "";
                            inputTelefone.style.borderBottom = "1px solid rgb(126, 26, 197)";
                            dadosValidacao.telefone = 'OK';
                            // inputEstado.focus();

                        }



                    }
                }

                if (event.target.id === 'inputEstado') {


                    // validaTelefone();
                    console.log(event);

                    if (event.type == 'click') {
                        console.log(event);


                        if (event.target.value !== "Selecione seu estado") {

                            document.getElementById('inputEstadoErro').innerHTML = "";
                            inputEstado.style.borderBottom = "1px solid rgb(126, 26, 197)";
                            dadosValidacao.estado = 'OK';
                            console.log(dadosValidacao.estado);

                        }
                        else {
                            document.getElementById('inputEstadoErro').innerHTML = "Este campo é obrigatório"
                            inputEstado.style.borderBottom = "0.5px solid rgb(243, 60, 14)";


                            //  dadosValidacao.estado = 'OK';
                            // inputCidade.focus();


                        }
                    }
                }


                if (event.target.className === 'inputCidade') {

                    console.log(event)
                    if (event.type == 'click') {
                        document.getElementById('inputCidadeErro').innerHTML = "";
                        inputCidade.style.borderBottom = "1px solid rgb(126, 26, 197)";
                    }

                    if (event.key == 'Enter') {


                        if (event.target.value == "" || event.target.value.length < 3) {


                            document.getElementById('inputCidadeErro').innerHTML = "Este campo é obrigatório"
                            inputCidade.style.borderBottom = "0.5px solid rgb(243, 60, 14)";

                            return false;
                        } else {

                            document.getElementById('inputCidadeErro').innerHTML = "";
                            inputCidade.style.borderBottom = "1px solid rgb(126, 26, 197)";

                            // inputEstado.focus();
                            dadosValidacao.cidade = 'OK';


                        }

                    }//else{
                    //     validaCidade()
                    // }
                }

                if (event.target.className === 'whatsappBox') {

                    if (event.target.checked == true) {

                        emailBox1 = document.querySelector('#emailBox').checked = false
                        dados.emailbox = 'NÂO';
                        dados.whatsappBox = 'SIM';
                        console.log(dados.whatsappBox);

                    } else {
                        dados.whatsappBox = 'NÂO';
                    }


                }

                if (event.target.className === 'emailBox') {

                    if (event.target.checked == true) {

                        whatsappBox1 = document.querySelector('#whatsappBox').checked = false;
                        dados.whatsappBox = "NÂO"
                        dados.emailbox = 'SIM';
                        console.log(dados.emailbox);

                    } else {
                        dados.emailbox = 'NÂO';

                    }

                }



            }

            inputNome.focus();
            inputNome.addEventListener('keyup', campoDgt);
            inputNome.addEventListener('click', campoDgt);

            inputEmail.addEventListener('keyup', campoDgt);
            inputEmail.addEventListener('click', campoDgt);



            inputTelefone.addEventListener('keyup', campoDgt);
            inputTelefone.addEventListener('click', campoDgt);

            inputEstado.addEventListener('keyup', campoDgt);
            inputEstado.addEventListener('click', campoDgt);


            inputCidade.addEventListener('keyup', campoDgt);
            inputCidade.addEventListener('click', campoDgt);


            whatsappBox.addEventListener('click', campoDgt);
            emailBox.addEventListener('click', campoDgt);


        };


        function valida() {



        }



        function validacaoNome() {






            NomeV = document.querySelector('#inputNome').value;



            if (NomeV == "" || NomeV.length < 3) {

                document.getElementById('inputNomeErro').innerHTML = "Este campo é obrigatório"
                inputNome.style.borderBottom = "0.5px solid rgb(243, 60, 14)";
                //  alert("Preencha campo NOME corretamente!");
                // inputNome.focus();
                return false;


            } else {
                document.getElementById('inputNomeErro').innerHTML = "";
                inputNome.style.borderBottom = "1px solid rgb(126, 26, 197)";
                dadosValidacao.nome = 'OK';
                //    inputEmail.focus();

            }




        }




        function validaEmail() {

            EmailV = document.querySelector('#inputEmail').value;
            if (EmailV == "" || EmailV.indexOf('@') == -1
                || EmailV.indexOf('.') == -1) {

                document.getElementById('inputEmailErro').innerHTML = "Este campo é obrigatório"
                inputEmail.style.borderBottom = "0.5px solid rgb(243, 60, 14)";
                //     alert("Preencha campo E-MAIL corretamente! ");
                // inputEmail.focus();
                return false;

            } else {

                document.getElementById('inputEmailErro').innerHTML = "";
                inputEmail.style.borderBottom = "1px solid rgb(126, 26, 197)";
                dadosValidacao.email = 'OK';
                inputTelefone.focus();


            }

        }






        function validaTelefone() {

            TelefoneV = document.querySelector('#inputTelefone').value;

            if (TelefoneV == "" || TelefoneV.length < 15) {

                document.getElementById('inputTelefoneErro').innerHTML = "Este campo é obrigatório"
                inputTelefone.style.borderBottom = "0.5px solid rgb(243, 60, 14)";
                // alert("Preencha campo Telefone corretamente!");
                // inputTelefone.focus();
                return false;
            } else {

                document.getElementById('inputTelefoneErro').innerHTML = "";
                inputTelefone.style.borderBottom = "1px solid rgb(126, 26, 197)";
                dadosValidacao.telefone = 'OK';
                // inputEstado.focus();

            }




        }


        function validaEstado() {

            EstadoV = document.getElementById('inputEstado').value;

            if (EstadoV !== "Selecione seu estado") {

                document.getElementById('inputEstadoErro').innerHTML = "";
                inputEstado.style.borderBottom = "1px solid rgb(126, 26, 197)";
                dadosValidacao.estado = 'OK';
                console.log(dadosValidacao.estado);

            }
            else {
                document.getElementById('inputEstadoErro').innerHTML = "Este campo é obrigatório"
                inputEstado.style.borderBottom = "0.5px solid rgb(243, 60, 14)";


                //  dadosValidacao.estado = 'OK';
                // inputCidade.focus();


            }


        }

        function validaCidade() {



            cidadeV = document.querySelector('#inputCidade').value;

            if (cidadeV == "" || cidadeV.length < 3) {


                document.getElementById('inputCidadeErro').innerHTML = "Este campo é obrigatório"
                inputCidade.style.borderBottom = "0.5px solid rgb(243, 60, 14)";

                return false;
            } else {

                document.getElementById('inputCidadeErro').innerHTML = "";
                inputCidade.style.borderBottom = "1px solid rgb(126, 26, 197)";

                // inputEstado.focus();
                dadosValidacao.cidade = 'OK';


            }


        }







        function onclick() {

            function botao(event) {


                if (event.target.className == 'button') {


                    dados.nome = document.querySelector('#inputNome').value;
                    dados.email = document.querySelector('#inputEmail').value;
                    dados.telefone = document.querySelector('#inputTelefone').value;
                    dados.estado = document.getElementById('inputEstado').value;
                    dados.cidade = document.querySelector('#inputCidade').value;

                    console.log(dadosValidacao);



                      validacaoNome();
                        validaEmail();
                        validaTelefone();
                        validaEstado();
                        validaCidade();

                    validacaoCampo()







                }



                async function postEmeil() {


                    const dadosEnvio = JSON.stringify({ dados })


                    // const myRequest = await new Request('http://localhost:5000/',
                        const myRequest = await new Request('http://www.ainteligenciacriativa.com.br/',
                       // const myRequest = await new Request('https://danilotito.herokuapp.com/',
                        { method: 'POST', headers: { 'Accept': 'application/json', 'Content-Type': 'application/json' }, body: dadosEnvio });

                    const myURL = await myRequest.url;
                    const myMathod = await myRequest.method;
                    const myCred = await myRequest.credentials;
                    const bodyUserd = await myRequest.bodyUsed;





                    fetch(myRequest)
                        .then(response => {
                            if (response.status === 200) {


                                alert("Dados enviados com sucesso!");


                                document.querySelector('#inputNome').value = '';
                                document.querySelector('#inputEmail').value = '';
                                document.querySelector('#inputTelefone').value = '';
                                document.querySelector('#inputCidade').value = '';
                                document.querySelector('inputEstado').id = "ss";
                                return response.json();
                            } else {
                                throw new Error('Ops! Houve um erro em nosso servidor.');
                            }


                        })
                        .then(response => {
                            console.debug(response);
                            // ...
                        }).catch(error => {
                            console.log(error);
                        });




                };


                function validacaoCampo() {

                    if (dadosValidacao.nome == "OK" && dadosValidacao.email == "OK" && dadosValidacao.telefone == "OK"
                        && dadosValidacao.estado == "OK" && dadosValidacao.cidade == "OK") {

                        postEmeil();

                        // document.querySelector('#inputNome').value = '';
                        // document.querySelector('#inputEmail').value = '';
                        // document.querySelector('#inputTelefone').value = '';
                        // document.querySelector('inputEstado').value = 'dadosValidacao.estado';
                        // document.querySelector('#inputCidade').value = '';



                        inputNome.focus();



                    } else {


                        // validacaoNome();
                        // validaEmail();
                        // validaTelefone();
                        // validaEstado();
                        // validaCidade();
                  
                        // alert(" Todos os campos são de preenchimento obrigatório !");
                        return false;


                    }
 

                }


            }

            inputBotao = document.addEventListener('click', botao);


        }



    </script>

</body>

</html>
