<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <% include ../partials/header.ejs %>
    <title>A Inteligência Criativa</title>



    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '299838161109883');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
            src="https://www.facebook.com/tr?id=299838161109883&ev=PageView&noscript=1" /></noscript>

</head>

<body>


    <div class="cab">
        <div class="teste"></div>
        <div class="logo">
        </div>
    </div>








    <section class="sec contact" id="contact">

        <div class="rr">


            <div class="content">
                <div class="mxw800p">
                    <h3>Receba nosso Infográfico totalmente gratuito</h3>
                    <p>Basta preencher o formulário abaixo!</p>
                </div>
                <div class="contactForm">
                    <form id="test">

                        <div class="row100">
                            <div class="inputBx50">
                                <input class="inputNome" id="inputNome" maxlength="60" type="text" name=""
                                    placeholder="Nome:">
                            </div>

                        </div>
                        <div class="row100">

                            <div class="inputBx50">
                                <input class="inputEmail" id="inputEmail" maxlength="50" type="text" name=""
                                    placeholder="Email:">
                            </div>
                        </div>
                        <div class="row100">
                            <div class="inputBx50">
                                <input class="inputTelefone" id="inputTelefone" maxlength="14" type="text" name=""
                                    placeholder="Telefone(com DDD):">
                            </div>
                        </div>

                        <div class="row100">
                            <div class="inputBx50">
                                <input class="inputEstado" maxlength="40" id="inputEstado" type="text" name=""
                                    placeholder="Estado:">
                            </div>
                        </div>
                        <div class="row100">
                            <div class="inputBx50">
                                <input class="inputCidade" maxlength="40" id="inputCidade" type="text" name=""
                                    placeholder="Cidade:">
                            </div>

                        </div>



                        <h4>Para onde ele será enviado ?</h4>
                        <div class="checkbox">
                            <div class="esp">

                                <input class="whatsappBox" id="whatsappBox" type="checkbox" checked=true name="whatsapp"
                                    value="Bike">


                                <label for="whatsapp"> Whatsapp </label>


                                <input type="checkbox" id="emailBox" class="emailBox" name="vehicle1" value="Bike">
                                <label for="vehicle1">E-mail </label><br>
                            </div>
                        </div>

                        <div class="row100">

                            <div class="inputBx100">
                                <input id="enviarForm" class="button" type="button" onclick="true" value="Enviar">
                            </div>
                        </div>

                    </form>

                </div>
                <div class="sci">
                    <ul>

                        <li>
                            <a href="https://www.instagram.com/ainteligenciacriativa/">
                                <img src="/instagram.png">
                        </li>

                    </ul>
                </div>
                <p class="copyright">A Inteligência <a href="#"> Criativa </a></p>
            </div>
        </div>
    </section>




    <script>

        window.addEventListener('load', start);



        var inputNome = null;
        var inputEmail = null;
        var inputBotao = null;


        var nome = null;



        const dados = {

            "nome": "",
            "email": "",
            "telefone": "",
            "estado": "",
            "cidade": "",
            "whatsappBox": "SIM",
            "emailbox": "NÂO"
        }


        const dadosValidacao = {

            "nome": "",
            "email": "",
            "telefone": "",
            "estado": "",
            "cidade": "",
        }



        function start() {
            inputNome = document.querySelector('#inputNome');
            inputEmail = document.querySelector('#inputEmail');
            inputTelefone = document.querySelector('#inputTelefone');
            inputEstado = document.querySelector('#inputEstado');
            inputCidade = document.querySelector('#inputCidade');
            whatsappBox = document.querySelector('#whatsappBox');
            emailBox = document.querySelector('#emailBox');




            inputBotao = document.querySelector('#enviarForm');

            formCarrega();
            activeInputNome();


            onclick();

        }


        function formCarrega() {

            function formSubmit(event) {
                event.preventDefault();
                onclick();

            }


            var form = document.querySelector('form');
            form.addEventListener('submit', formSubmit);
        }


        function activeInputNome() {

            function campoDgt(event) {




                if (event.target.className === 'inputNome') {


                    if (event.key == 'Enter') {


                        if (event.target.value == "" || event.target.value.length < 6) {
                            alert("Preencha campo NOME corretamente!");
                            inputNome.focus();
                            return false;


                        } else {
                            dadosValidacao.nome = 'OK';
                            inputEmail.focus();

                        }

                    }



                }


                if (event.target.className === 'inputEmail') {

                    validacaoNome();

                    if (event.key == 'Enter') {

                        if (event.target.value == "" || event.target.value.indexOf('@') == -1
                            || event.target.value.indexOf('.') == -1


                        ) {
                            alert("Preencha campo E-MAIL corretamente! ");
                            inputEmail.focus();
                            return false;

                        } else {

                            dadosValidacao.email = 'OK';
                            inputTelefone.focus();


                        }

                    }

                }


                if (event.target.className === 'inputTelefone') {

                    validaEmail();


                    if (event.key == 'Enter') {

                        if (event.target.value == "" || event.target.value.length < 11) {

                            alert("Preencha campo Telefone corretamente!");
                            inputTelefone.focus();
                            return false;
                        } else {

                            dadosValidacao.telefone = 'OK';
                            inputEstado.focus();

                        }



                    }
                }

                if (event.target.className === 'inputEstado') {


                    validaTelefone();

                    if (event.key == 'Enter') {

                        if (event.target.value == "" || event.target.value.length < 3) {

                            alert("Preencha campo Estado corretamente!");
                            inputEstado.focus();
                            return false;
                        } else {

                            dadosValidacao.estado = 'OK';
                            inputCidade.focus();


                        }





                    }
                }

                if (event.target.className === 'inputCidade') {

                    validaEstado();


                    if (event.key == 'Enter') {
                        validaCidade();

                        if (event.target.value == "" || event.target.value.length < 3) {

                            alert("Preencha campo  Cidade corretamente!");
                            inputCidade.focus();
                            return false;
                        } else {
                            dadosValidacao.cidade = 'OK';


                        }

                    }
                }

                if (event.target.className === 'whatsappBox') {

                    if (event.target.checked == true) {

                        emailBox1 = document.querySelector('#emailBox').checked = false
                        dados.emailbox = 'NÂO';
                        dados.whatsappBox = 'SIM';
                        console.log(dados.whatsappBox);

                    } else {
                        dados.whatsappBox = 'NÂO';
                    }


                }

                if (event.target.className === 'emailBox') {

                    if (event.target.checked == true) {

                        whatsappBox1 = document.querySelector('#whatsappBox').checked = false;
                        dados.whatsappBox = "NÂO"
                        dados.emailbox = 'SIM';
                        console.log(dados.emailbox);

                    } else {
                        dados.emailbox = 'NÂO';

                    }

                }



            }

            inputNome.focus();
            inputNome.addEventListener('keyup', campoDgt);

            inputEmail.addEventListener('keyup', campoDgt);
            inputEmail.addEventListener('click', campoDgt);



            inputTelefone.addEventListener('keyup', campoDgt);
            inputTelefone.addEventListener('click', campoDgt);

            inputEstado.addEventListener('keyup', campoDgt);
            inputEstado.addEventListener('click', campoDgt);

            inputCidade.addEventListener('keyup', campoDgt);
            inputCidade.addEventListener('click', campoDgt);


            whatsappBox.addEventListener('click', campoDgt);
            emailBox.addEventListener('click', campoDgt);


        };





        function validacaoNome() {

            NomeV = document.querySelector('#inputNome').value;



            if (NomeV == "" || NomeV.length < 6) {


                alert("Preencha campo NOME corretamente!");
                inputNome.focus();
                return false;

            } else {

                dadosValidacao.nome = 'OK';
            }



        }




        function validaEmail() {



            EmailV = document.querySelector('#inputEmail').value;

            if (EmailV == "" || EmailV.indexOf('@') == -1
                || EmailV.indexOf('.') == -1


            ) {
                alert("Preencha campo E-MAIL corretamente!! ");
                inputEmail.focus();
                return false;

            } else {

                dadosValidacao.email = 'OK';
            }



        }



        function validaTelefone() {

            TelefoneV = document.querySelector('#inputTelefone').value;

            if (TelefoneV == "" || TelefoneV.length < 11) {

                alert("Preencha campo Telefone corretamente!");
                inputTelefone.focus();
                return false;
            } else {

                dadosValidacao.telefone = 'OK';
            }


        }


        function validaEstado() {

            EstadoV = document.querySelector('#inputEstado').value;

            if (EstadoV == "" || EstadoV.length < 3) {

                alert("Preencha campo Estado corretamente!");
                inputEstado.focus();
                return false;
            } else {

                dadosValidacao.estado = 'OK';
            }


        }

        function validaCidade() {

            cidadeV = document.querySelector('#inputCidade').value;

            if (cidadeV == "" || cidadeV.length < 3) {

                alert("Preencha campo Cidade corretamente!");
                inputCidade.focus();
                return false;
            } else {

                dadosValidacao.cidade = 'OK';
            }


        }







        function onclick() {

            function botao(event) {


                if (event.target.className == 'button') {


                    dados.nome = document.querySelector('#inputNome').value;
                    dados.email = document.querySelector('#inputEmail').value;
                    dados.telefone = document.querySelector('#inputTelefone').value;
                    dados.estado = document.querySelector('#inputEstado').value;
                    dados.cidade = document.querySelector('#inputCidade').value;


                   
                    validaCidade();

                    validacaoCampo()







                }



                async function postEmeil() {


                    const dadosEnvio = JSON.stringify({ dados })

                   
                    // const myRequest = await new Request('http://localhost:5000//',
                     const myRequest = await new Request('http://www.ainteligenciacriativa.com.br/',
                        { method: 'POST', headers: { 'Accept': 'application/json', 'Content-Type': 'application/json' }, body: dadosEnvio });

                    const myURL = await myRequest.url;
                    const myMathod = await myRequest.method;
                    const myCred = await myRequest.credentials;
                    const bodyUserd = await myRequest.bodyUsed;





                    fetch(myRequest)
                        .then(response => {
                            if (response.status === 200) {

                               
                                alert("Dados enviados com sucesso!");


                                return response.json();
                            } else {
                                throw new Error('Ops! Houve um erro em nosso servidor.');
                            }


                        })
                        .then(response => {
                            console.debug(response);
                            // ...
                        }).catch(error => {
                            console.log(error);
                        });




                };


                function validacaoCampo() {

                    if (dadosValidacao.nome == "OK" && dadosValidacao.email == "OK" && dadosValidacao.telefone == "OK"
                        && dadosValidacao.estado == "OK" && dadosValidacao.cidade == "OK") {

                        postEmeil();

                        document.querySelector('#inputNome').value = '';
                        document.querySelector('#inputEmail').value = '';
                        document.querySelector('#inputTelefone').value = '';
                        document.querySelector('#inputEstado').value = '';
                        document.querySelector('#inputCidade').value = '';



                        inputNome.focus();



                    } else {
                        alert(" Todos os campos são de preenchimento obrigatório !");
                        return false;


                    }


                }







            }

            inputBotao = document.addEventListener('click', botao);


        }




    </script>

</body>

</html>
