!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>A Inteligência Criativa</title>


    <!-- Facebook Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '299838161109883');
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=299838161109883&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->
</head>

<body>

    <!-- <header id="header"> -->
        <!-- <a href="#" class="logo"><img src="./IMG/logo.jpeg" ></a>   -->
        <!-- <ul>
            
            <li><a href="#home" onclick="toggle()" >Home</a></li>
            <li><a href="#about"  onclick="toggle()" >About</a></li>
            <li><a href="#services" onclick="toggle()">Services</a></li>
            <li><a href="#portfolio" onclick="toggle()">Portfolio</a></li>
            <li><a href="#team"onclick="toggle()">Team</a></li>
            <li> <a href="#contact"onclick="toggle()">Contact</a></li> 
           
        </ul> -->
        <!-- <div class="toggle" onclick="toggle()"></div>-->
    <!-- </header> -->
    <!--Banner-->
    <!-- <section class="banner" id="home">
        <h2>A <span>Inteligência </span> Criativa</h2>
       

    </section> -->

    <!--About-->
    <!-- <section class="sec" id="about">
        <div class="content">
            <div class="mxw800p">
                <h3>Quem somos</h3>
                <p>
                    Quem somos
                    Se você pudesse parar tudo e fizesse uma lista de todos os projetos que tem vontade de fazer, o que
                    estaria escrito nesta lista? Foi fazendo esse exercício que decidimos colocar em prática alguns
                    projetos. Às vezes pensamos que não temos os recursos necessários, e o mundo precisou "parar"
                    para darmos conta que tínhamos tudo o que precisávamos. Responder algumas poucas perguntas já
                    pode ser suficiente para descobrir o que pode ser feito.
                    Qual o recurso que temos em maior quantidade atualmente? Tempo.
                    Quais as nossas maiores habilidades e competências? Complementaridade, facilidade de aprender e
                    prontidão para ação.
                    Pra quem podemos disponibilizar o que temos para oferecer?
                    Para qualquer pessoa que deseja compreender mais sobre seu comportamento e explorar esse
                    conhecimento para melhorar a sua vida.
                    Como podemos fazer isso?
                    Através da nossa especialidade como Analistas de Comportamento - DISC Profiler , com certificação
                    Internacional.
                </p>
                <a href="#" class="btn"> Read Our Story</a>

            </div>

        </div>
    </section> -->

    <!--Services-->
    <!-- <section class="sec" id="services">
        <div class="content">
            <div class="mxw800p">
                <h3>Benefícios</h3>
                <p>
                    Autoconhecimento,

                    Desenvolvimento pessoal e profissional;

                    Reconhecimento de competências;

                    Organização e planejamento;

                    Tomada de decisões - Como você atua sobre pressão?

                    Relacionamentos;

                    Vantagens e desvantagens do seu perfil;

                    Habilidades básicas;

                    Mentoria para te ajudar a traçar metas de curto, médio e longo prazo;
                </p>


            </div>
            <div class="services">
                <div class="box">
                    <div class="iconBx">
                        <img src="./IMG/icon1.png">
                    </div>
                    <div class="content">
                        <h2>
                            Design
                        </h2>
                        <p>
                            Se você pudesse parar tudo e fizesse uma lista de
                            todos os projetos que tem vontade de fazer.
                    </div>

                </div>
                <div class="box">
                    <div class="iconBx">
                        <img src="./IMG/icon2.png">
                    </div>
                    <div class="content">
                        <h2>
                            Design
                        </h2>
                        <p>
                            Se você pudesse parar tudo e fizesse uma lista de
                            todos os projetos que tem vontade de fazer.
                    </div>

                </div>
                <div class="box">
                    <div class="iconBx">
                        <img src="./IMG/icon3.png">
                    </div>
                    <div class="content">
                        <h2>
                            Design
                        </h2>
                        <p>
                            Se você pudesse parar tudo e fizesse uma lista de
                            todos os projetos que tem vontade de fazer.
                    </div>

                </div>

            </div>

        </div>
    </section> -->

    <!--Stats-->
    <!-- <section class="sec stats">
        <div class="content">
            <div class="mxw800p">
                <h3>Infográfico </h3>
                <p>
                    Quem somos
                    Se você pudesse parar tudo e fizesse uma lista de todos os projetos que tem vontade de fazer, o que
                    estaria escrito nesta lista? Foi fazendo esse exercício que decidimos colocar em prática alguns
                </p>
            </div>
            <div class="statsBox">
                <div class="box">
                    <h2>
                        1200+
                    </h2>
                    <h4>
                        Projects
                    </h4>
                </div>
                <div class="box">
                    <h2>
                        100+
                    </h2>
                    <h4>
                        Ajuda
                    </h4>
                </div>
                <div class="box">
                    <h2>
                        120+
                    </h2>
                    <h4>
                        Projects
                    </h4>
                </div>
                <div class="box">
                    <h2>
                        12+
                    </h2>
                    <h4>
                        Projects
                    </h4>
                </div>
            </div>

        </div>
    </section> -->


    <!--Portfolio-->
    <!-- 
    <section class="sec work" id="portfolio">
        <div class="content">
            <div class="mxw800p">
                <h3>VOCÊ ESCOLHE!</h3>
                <p>

                    Se você pudesse parar tudo e fizesse uma lista de todos os projetos que tem
                    vontade de fazer. </p>

            </div>
            <div class="workBx">
                <div class="brand">
                    <a href="#">
                        <h2>Brand Name </h2>
                    </a>
                </div>
                <div class="brand">
                    <a href="#">
                        <h2>Brand Name </h2>
                    </a>
                </div>
                <div class="brand">
                    <a href="#">
                        <h2>Brand Name </h2>
                    </a>
                </div>
                <div class="brand">
                    <a href="#">
                        <h2>Brand Name </h2>
                    </a>
                </div>
                <div class="brand">
                    <a href="#">
                        <h2>Brand Name </h2>
                    </a>
                </div>
                <div class="brand">
                    <a href="#">
                        <h2>Brand Name </h2>
                    </a>
                </div>
                <div class="brand">
                    <a href="#">
                        <h2>Brand Name </h2>
                    </a>
                </div>
                <div class="brand">
                    <a href="#">
                        <h2>Brand Name </h2>
                    </a>
                </div>
            </div>
        </div>
    </section> -->
    <!--Team-->
    <!-- <section class="sec" id="team">
        <div class="content">
            <div class="mxw800p">
                <h3>VOCÊ ESCOLHE!</h3>
                <p>

                    Se você pudesse parar tudo e fizesse uma lista de todos os projetos que tem
                    vontade de fazer. </p>
            </div>
            <div class="teamBx">
                <div class="member">
                    <div class="imgBx">
                        <img src="./IMG/1.jpg">
                    </div>
                    <div class="details">
                        <div>
                            <h2>
                                Danielly Leachtwais
                                <br>
                                <span>
                                    CIO
                                </span>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="member">
                    <div class="imgBx">
                        <img src="./IMG/2.jpg">
                    </div>
                    <div class="details">
                        <div>
                            <h2>
                                Danilo Tito
                                <br>
                                <span>
                                    CIO
                                </span>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="member">
                    <div class="imgBx">
                        <img src="./IMG/3.jpg">
                    </div>
                    <div class="details">
                        <div>
                            <h2>
                                Thiafo
                                <br>
                                <span>
                                    CEO
                                </span>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="member">
                    <div class="imgBx">
                        <img src="./IMG/4.jpg">
                    </div>
                    <div class="details">
                        <div>
                            <h2>
                                Vanessa
                                <br>
                                <span>
                                    DG
                                </span>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!--Contact-->
    <div class="cab">
<div class="teste"></div>
        <div class="logo">
        </div>
    </div>

        <!-- <h1>A Inteligência Criativa Criativa</h1> -->






        <section class="sec contact" id="contact">

            <div class="rr">


                <div class="content">
                    <div class="mxw800p">
                        <h3>Receba nosso Infográfico totalmente gratuito</h3>
                        <p>Basta preencher o formulário abaixo!</p>
                    </div>
                    <div class="contactForm">
                        <form id="test">

                            <div class="row100">
                                <div class="inputBx50">
                                    <input class="inputNome" 
                                           id="inputNome" 
                                          maxlength="60"
                                           type="text" 
                                           name="" placeholder="Nome:">
                                </div>

                            </div>
                            <div class="row100">

                                <div class="inputBx50">
                                    <input class="inputEmail"
                                           id="inputEmail" 
                                           maxlength="50"
                                           
                                           type="text" 
                                           name="" placeholder="Email:">
                                </div>
                            </div>
                            <div class="row100">
                                <div class="inputBx50">
                                    <input class="inputTelefone" 
                                            id="inputTelefone" 
                                            maxlength="14"
                                            type="text" 
                                            name="" placeholder="Telefone(com DDD):">
                                </div>
                            </div>

                            <div class="row100">
                                <div class="inputBx50">
                                    <input class="inputEstado" 
                                           maxlength="40"
                                            id="inputEstado"
                                            type="text" 
                                            name="" placeholder="Estado:">
                                </div>
                            </div>
                            <div class="row100">
                                <div class="inputBx50">
                                    <input class="inputCidade" 
                                            maxlength="40"
                                            id="inputCidade" 
                                            type="text" 
                                            name="" placeholder="Cidade:">
                                </div>

                            </div>

                         

                                <h4>Para onde ele será enviado ?</h4>
                                <div class="checkbox">
                                    <div class="esp">

                                        <input  class="whatsappBox"  
                                                id="whatsappBox" 
                                                type="checkbox" 
                                                checked= true
                                                name="whatsapp" value="Bike">

                                    
                                          <label for="whatsapp"> Whatsapp </label>
                                   
                                                                       
                                     <input type="checkbox" 
                                            id="emailBox"
                                            class="emailBox"
                                            name="vehicle1" 
                                          
                                            value="Bike">
                                    <label for="vehicle1">E-mail </label><br>
                                </div> 
                                </div>
                           
                            <div class="row100">

                                <div class="inputBx100">
                                    <input id="enviarForm" 
                                    class="button"  
                                    type="button"  
                                    onclick="true"
                                    value="Enviar">
                                </div>
                            </div>

                        </form>

                    </div>
                    <div class="sci">
                        <ul>
                            <!-- <li>
                        <a href="#"><img src="./IMG/facebook.png"></a>
                    </li> -->
                            <li>
                                <a href="https://www.instagram.com/ainteligenciacriativa/"><img
                                        src="./IMG/instagram.png"></a>
                            </li>
                            <!-- <li>
                        <a href="#"><img src="./IMG/twitter.png"></a>
                    </li>
                    <li>
                        <a href="#"><img src="./IMG/linkedin.png"></a>
                    </li> -->
                        </ul>
                    </div>
                    <p class="copyright">A Inteligência <a href="#"> </a>Criativa</p>
                </div>
            </div>
        </section>

   


    <script src="./js/script.js"></script>

</html>